.content{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    height: 100%;
    transition-duration: 0.4s;
    top: 0;
  }
  .category_col {
      width: 33.333%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      cursor: pointer;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
 .image {
    height: 26.3vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3.4vh;
 }
.view_title{
  color: black
}
.image{
    height: 26.3vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3.4vh;
}
.image img {
    max-height: 100%;
}
