.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  text-decoration: none;
}
.category_col {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  text-decoration: none !important;
}
  
.image {
  height: 25vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.view_title{
  font-weight: 300;
  font-size: 24px;
  color: #343b4c;
}
.image> img {
  max-height: 100%;
}
.view_match{
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: #343b4c;
}
