@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima-nova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-Light.otf") format("opentype"), url("../fonts/proxima-nova/ProximaNova-Light.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima-nova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-Regular.otf") format("opentype"), url("../fonts/proxima-nova/ProximaNova-Regular.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima-nova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-Semibold.otf") format("opentype"), url("../fonts/proxima-nova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: 500;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'ProximaNova';
  overflow: hidden;
}
body.short .left .row.wizard .wrap {
  justify-content: center;
}
body.short .left .row .title {
  display: none;
}
body.short .logo {
  padding: 4.3vh 3.3vw;
  width: 10%;
}
body.short .top,
body.short .content .center {
  width: 90%;
}
body.short .left {
  width: 10%;
}
body.short .left .row .icon {
  margin: 0;
  width: 100%;
}
body.inner .left .row {
  height: 14.28%;
}

header {
  display: flex;
}

img {
  max-width: 100%;
}

button {
  font-family: 'ProximaNova';
  outline: none;
}

.logo {
  background: #2c313e;
  width: 20.5%;
  padding: 4.3vh 3.7vw;
  box-sizing: border-box;
  height: 15.4vh;
  display: flex;
}

.top {
  width: 79.5%;
  display: flex;
}
.top .col {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #343b4c;
  color: #fff;
}
.top .col .desc {
  font-size: 12px;
  color: #03c9a9;
  text-transform: uppercase;
}
.top .col .val {
  font-size: 50px;
  font-weight: 500;
}

.left {
  width: 20.5%;
  background: #343b4c;
  color: #fff;
  height: 84.6vh;
  transition-duration: 0.4s;
}
.left .row {
  height: 20%;
  display: flex;
  box-sizing: border-box;
}
.left .row a {
  width: 100%;
  display: flex;
  color: #fff;
  text-decoration: none;
}
.left .row a:focus {
  background: #2c313e;
}
.left .row a:focus svg .cls-2 {
  fill: #03c9a9;
}
.left .row .wrap {
  display: flex;
  align-items: center;
  padding: 0 2.2vw;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}
.left .row .icon {
  width: 2.8vw;
  margin-right: 1.5vw;
  text-align: center;
}

.content {
  display: flex;
  position: relative;
  overflow: hidden;
}
.content.product {
  position: static;
}
.content.product .center {
  flex-wrap: nowrap;
  color: #343b4c;
}
.content.product .center > div {
  width: 50%;
}
.content.product .center > div.left-col {
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content.product .center > div.left-col .img {
  text-align: center;
  margin-bottom: 10.5vh;
}
.content.product .center > div.left-col .img img {
  max-height: 28vh;
}
.content.product .center > div.left-col .field-name {
  color: #03c9a9;
  text-transform: uppercase;
  font-size: 12px;
}
.content.product .center > div.left-col .product-name {
  font-size: 30px;
  padding: 0 2.5vw;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.content.product .center > div.left-col .product-name.margin {
  margin-bottom: 15px;
}
.content.product .center > div.left-col .product-name.small {
  font-size: 24px;
}
.content.product .center > div.left-col .product-name .column:nth-child(1) {
  width: 81%;
  float: left;
}
.content.product .center > div.left-col .product-name .column:nth-child(2) {
  float: left;
  width: 19%;
}
.content.product .center > div.left-col .field-name {
  padding: 0 2.5vw;
}
.content.product .center > div.left-col .field-name .column:nth-child(1) {
  width: 81%;
  float: left;
}
.content.product .center > div.left-col .field-name .column:nth-child(2) {
  float: left;
  width: 19%;
}
.content.product .center > div.left-col .nutriotion {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #eeeff4;
  margin-top: 4.3vh;
  padding-top: 11px;
}
.content.product .center > div.left-col .nutriotion .title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5vh;
  padding: 0 2.5vw;
}
.content.product .center > div.left-col .nutriotion .row {
  display: flex;
  padding: 0 2.5vw;
  justify-content: space-between;
  font-size: 18px;
  padding-bottom: 1.6vh;
  margin-bottom: 1.7vh;
}
.content.product .center > div.left-col .nutriotion .row:not(:last-child) {
  border-bottom: 1px solid #eeeff4;
}
.content.product .center > div.right-col {
  background: #fed433;
  box-sizing: border-box;
  padding-top: 6.4vh;
  color: #2e394a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content.product .center > div.right-col .wrapper {
  padding-left: 4.3vw;
  padding-right: 2.5vw;
}
.content.product .center > div.right-col .title {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 3px;
}
.content.product .center > div.right-col .subtitle {
  font-size: 30px;
  margin-bottom: 2.2vh;
}
.content.product .center > div.right-col .text {
  font-size: 18px;
  margin-bottom: 3vh;
}
.content.product .center > div.right-col .row {
  display: flex;
}
.content.product .center > div.right-col .row .column:first-child {
  width: 51%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5.3vh;
}
.content.product .center > div.right-col .row .column:last-child {
  width: 49%;
  text-align: center;
}
.content.product .center > div.right-col .row .column:last-child img {
  max-height: 46vh;
}
.content.product .center > div.right-col .row .desc-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1.4vh;
}
.content.product .center > div.right-col .row .desc-text {
  line-height: 1.4;
}
.content.product .center > div.right-col .row .price {
  font-size: 30px;
  margin-bottom: 4px;
}
.content.product .center > div.right-col .row .value {
  font-size: 18px;
}
.content.product .center > div.right-col .print {
  margin-top: 4vh;
  border-bottom: 2px solid #2c313e;
}
.content.product .center > div.right-col .btn {
  font-size: 24px;
  outline: none;
  height: 11.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  background: #343b4c;
  text-decoration: none;
}
.content.product .center > div.right-col .btn:focus {
  color: #03c9a9;
  background: #2c313e;
}
.content.product .center > div.right-col .btn:focus svg .cls-3 {
  fill: #03c9a9;
}
.content.product .center > div.right-col .btn svg {
  margin-right: 20px;
}
.content.product .center > div .semi {
  font-weight: 500;
}
.content .center {
  width: 79.5%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  height: 100%;
  transition-duration: 0.4s;
  top: 0;
}
.content .center.prev {
  top: -100%;
}
.content .center.code .column:first-child {
  width: 44.4%;
  display: flex;
  flex-wrap: wrap;
}
.content .center.code .column:first-child .num {
  width: 33.333%;
  background: transparent;
  border: none;
  border-right: 1px solid #eeeff4;
  padding: 0;
  color: #343b4c;
  font-size: 60px;
}
.content .center.code .column:first-child .num:not(:nth-child(10)) {
  border-bottom: 1px solid #eeeff4;
}
.content .center.code .column:first-child .num:focus {
  background: #eeeff4;
}
.content .center.code .column:first-child .del {
  width: 66.667%;
  border: none;
  background: #fff;
  padding: 0;
  border-right: 1px solid #eeeff4;
}
.content .center.code .column:first-child .del:focus {
  background: #2c313e;
}
.content .center.code .column:first-child .del:focus svg path {
  fill: #03c9a9;
}
.content .center.code .column:last-child {
  width: 55.6%;
  display: flex;
  flex-direction: column;
}
.content .center.code .column:last-child .val {
  height: 75%;
  color: #343b4c;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .center.code .column:last-child .enter {
  height: 25%;
  border: none;
  padding: 0;
  cursor: pointer;
  background: #fff;
  border: 1px solid #eeeff4;
  border-bottom: none;
  border-left: none;
}
.content .center.code .column:last-child .enter:focus {
  background: #2c313e;
}
.content .center.code .column:last-child .enter:focus svg path {
  fill: #03c9a9;
}
.content .center.code .column button {
  cursor: pointer;
  outline: none;
}
.content .center.search {
  color: #343b4c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .center.search .wrap {
  width: 100%;
}
.content .center.search .title {
  font-weight: 300;
  font-size: 36px;
  background: #eeeff4;
  height: 10vh;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 6vh;
}
.content .center.search .products {
  display: flex;
}
.content .center.search .products .item {
  width: 25%;
  text-align: center;
  font-size: 24px;
}
.content .center.search .products .item img {
  max-height: 19vh;
}
.content .center.search .keyboard {
  width: 100%;
}
.content .center.search .keyboard button {
  border: none;
  background: transparent;
  font-size: 36px;
  font-weight: 300;
  padding: 0;
  cursor: pointer;
  color: #343b4c;
  border-top: 1px solid #eeeff4;
  height: 13vh;
  border-right: 1px solid #eeeff4;
  float: left;
}
.content .center.search .keyboard button:not(.spec) {
  text-transform: uppercase;
}
.content .center.search .keyboard button:not(.spec) {
  width: 8.8%;
}
.content .center.search .keyboard button.enter {
  float: right;
  width: 10.8vw;
  height: 26vh;
}
.content .center.search .keyboard button.del {
  width: 8.8%;
  float: right;
}
.content .center.search .keyboard button.shift {
  width: 17.6%;
}
.content .center.search .keyboard button.space {
  width: 20.8%;
}
.content .center.search .keyboard button:focus {
  background: #eeeff4;
}
.content .center.scales .category .title {
  font-weight: 500;
  background: #eeeff4;
}
.content .center.scales .category .title:first-child {
  width: 75%;
  background: #03c9a9;
  color: #fff;
}
.content .center.scales .category .title:last-child {
  width: 25%;
}
.content .center.scales .subcategory .item .subtitle {
  font-size: 18px;
  color: #343b4c;
}
.content .center.scales .subcategory .item img {
  max-height: 100%;
}
.content .center .col {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
.content .center .col:not(:nth-child(3n + 3)) {
  border-right: 1px solid #eeeff4;
}
.content .center .col:nth-child(1), .content .center .col:nth-child(2), .content .center .col:nth-child(3) {
  border-bottom: 1px solid #eeeff4;
}
.content .center .col a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.content .center .col .title {
  font-weight: 300;
  font-size: 24px;
  color: #343b4c;
}
.content .center .col .image {
  height: 26.3vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3.4vh;
}
.content .center .col .image img {
  max-height: 100%;
}
.content .category {
  width: 100%;
  display: flex;
  font-size: 24px;
  justify-content: space-around;
  height: 11vh;
  align-items: center;
  border-bottom: 1px solid #eeeff4;
  box-sizing: border-box;
}
.content .category.sub .title:not(.active) {
  background: #eeeff4;
}
.content .category.sub .title.active {
  width: 83.344%;
}
.content .category .title {
  height: 100%;
  display: flex;
  align-items: center;
  width: 16.666%;
  justify-content: center;
}
.content .category .title:not(:last-child) {
  border-right: 1px solid #eeeff4;
}
.content .category .title.active {
  background: #03c9a9;
  color: #fff;
}
.content .category .title.active a {
  color: #fff;
}
.content .category .title a {
  color: #343b4c;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.content .category .title a:focus {
  background: #03c9a9;
  color: #fff;
}
.content .subcategory {
  width: 100%;
  display: flex;
  height: 62.5vh;
  flex-wrap: wrap;
}
.content .subcategory .item {
  width: 25%;
  box-sizing: border-box;
}
.content .subcategory .item:nth-child(1), .content .subcategory .item:nth-child(2), .content .subcategory .item:nth-child(3), .content .subcategory .item:nth-child(4) {
  border-bottom: 1px solid #eeeff4;
}
.content .subcategory .item:not(:nth-child(4n + 4)) {
  border-right: 1px solid #eeeff4;
}
.content .subcategory .item .title {
  font-size: 24px;
  color: #343b4c;
}
.content .subcategory .item .img {
  height: 21.3vh;
}
.content .subcategory .item a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.content .nav {
  display: flex;
  width: 100%;
  height: 11vh;
}
.content .nav > div {
  width: 50%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  align-items: center;
  background: #eeeff4;
}
.content .nav > div a {
  padding: 0 5.5vw;
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
  color: #343b4c;
  justify-content: space-between;
  align-items: center;
}
.content .nav > div a:focus {
  background: #2c313e;
}
.content .nav > div a:focus span {
  color: #03c9a9;
}
.content .nav > div a:focus svg .cls-1 {
  fill: #03c9a9;
}
.content .nav > div span {
  font-size: 24px;
  color: #343b4c;
}
