.info_container{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.info_left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;

}
.img_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.img_wrap > img{   
   transform: scale(0.18)
}
.left_img{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  transform: scale(0.7)
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.description_row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.nutrition_header{
  justify-content: center;
  font-size: 28px;
  font-weight: 500;
}
.left_description_col{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  
}
.right_description_col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.description_content{
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.description_header{
  color: #03c9a9;
  text-transform: uppercase;
  font-size: 16px;
}
.nutrition_content {
  width: 100%;
  font-size: 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeff4;
  
}
.right{
justify-content: flex-end;
}
.left{
  justify-content: flex-start;
}

.info_right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
}
.info_right{
  background: #fed433;
  //box-sizing: border-box;
  color: #2e394a;
}
.info_right_title{
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
.info_right_subtitle{
font-size: 38px;
}
.info_right_text{
font-size: 18px;
}
.info_right_row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.info_col_left{
  display: flex;
  flex: 1.5;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  //padding-right: 20px;
  padding-left: 20px;
}
.info_col_right{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}
.info_col_right > img{
  transform: scale(0.7)
}
.info_print, .info_where_in_shop{
  display: flex;
  align-items: center;
  height: 15%;
  width: 100%;
  background: #343b4c;
  
}
.info_print{
  border-bottom: 2px solid #2c313e;
}
