.container{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.column {
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
  width: 100%;  
  justify-content: center;
  
}


.bottom {
  display: flex;
  // flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  height: 100%;
}

