.top-left {
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c313e;  
  box-sizing: border-box;
  height: 20%;
}
#logo > img {  
  transform: scale(0.6);
  }
#shLogo > img {  
  transform: scale(0.4);
  }
