.side_bar{
  background: #343b4c;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 
}
.row_side{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
  color: #fff;
  font-size: 18px;

}
